{% extends 'main/base.html' %}

{% block page_header %}
    Wypożyczalnia busów
{% endblock %}

{% block content %}
    {% for car in cars %}
        <a href="{% url 'car_hire:detailed' car_id=car.id %}">
            <div class="mb-2">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col">
                        <div>
                            <h4>
                                {{ car.title }}
                            </h4>
                        </div>
                        <div>
                            {{ car.description }}
                        </div>
                    </div>
                    <img src="{{ car.imageelement_set.first.graphic.url }}" alt="{{ car.imageelement_set.first.subtitle }}" class="img col-6 col-sm-5">
                </div>
            </div>
        </a>
        <hr />
    {% endfor %}
{% endblock %}