{% extends 'main/base.html' %}

{% block page_header %}
    Wypożyczalnia busów
{% endblock %}

{% block content %}
    <div class="row">
        {% for car in cars %}
            <div class="col-xxl-4 mb-2">
                <a href="{% url 'car_hire:detailed' car_id=car.id %}">
                    <div class="card blue-link">
                        <div class="row no-gutters">
                            <div class="col-lg-4 col-xxl-12">
                                <img src="{{ car.imageelement_set.first.graphic.url }}" alt="{{ car.imageelement_set.first.subtitle }}" class="img card-image-top">
                            </div>
                            <div class="col-lg-8 col-xxl-12">
                                <div class="card-body">
                                    <h4 class="card-title">{{ car.title }}</h4>
                                    <p class="card-text">{{ car.short_description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <hr />
        {% endfor %}
    </div>
{% endblock %}