


$enable-responsive-font-sizes: true;

//$dark: #71222f;
$primary: #363c42;

//
//$theme-colors: (    ## this thing is wicked!, i need to make a list of cool things to change here
//  primary: red,
//  purple: purple // $purple is defined in _variables.scss
//);

// ============================== change bootstrap variables above this bar ============================================
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
// ================================ add classes and mixins below this bar ==============================================

.equal_height {
    height: 100%;
    /*padding-bottom: auto;*/
}

.img {
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    width: 100%;
    height: 100%;
}

.top-bar {

    @extend .col;
    @extend .col-sm;
    @extend .col-md;
    @extend .ml-md-2;
    @extend .pt-sm-4;
    @extend .pt-1;
    @extend .bg-primary;
    @extend .text-white;



    text-align: center;
    font-family: "DejaVu Sans Condensed", serif;
}

.logo {
    @extend .col-sm-3;
    @extend .col-md-3;
    @extend .pt-sm-4;
    @extend .pb-sm-4;
    @extend .bg-primary;

}

.sidebar {
    @extend .col-md-3;
    @extend .p-0;
    @extend .text-white;
}

.sidebar-button {
    @extend .btn;
    @extend .btn-block;
    @extend .mt-2;
    @extend .btn-primary;
    //@extend .text-left;
}

.side-ad {
    @extend .d-none;
    @extend .d-md-block;
    @extend .jumbotron;
    @extend .mt-5;
    @extend .p-2;
}

#footer {
    /*clear: both;*/
    /*background-color: var(--panel_primary_color);*/
    color: white;
    text-align: center;
}

.content {
    @extend .p-md-0;
    @extend .ml-md-2;
    @extend .mt-2;
    @extend .col;
    width: auto;

    /*float: left;*/
    /*width: 80%;*/
    /*background-color: white;*/
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    border: 0;
}

@include media-breakpoint-up(md) {
    .google-maps {
        padding-bottom: 75%;
    }
}
@include media-breakpoint-down(md) {
    .google-maps {
        padding-bottom: 175%;
    }
}
