
$enable-responsive-font-sizes: true;

//$dark: #71222f;
$primary: #363c42;


.equal_height {
    height: 100%;
    /*padding-bottom: auto;*/
}

.top-bar {

    @extend .col;
    @extend .col-sm;
    @extend .col-md;
    @extend .ml-md-2;
    @extend .pt-sm-4;
    @extend .pt-1;
    @extend .bg-primary;
    @extend .text-white;



    text-align: center;
    font-family: "DejaVu Sans Condensed", serif;
}

.logo {
    @extend .col-sm-3;
    @extend .col-md-3;
    @extend .pt-sm-4;
    @extend .pb-sm-4;
    @extend .bg-primary;

}

.sidebar {
    @extend .col-md-3;
    @extend .p-0;
    @extend .text-white;
}

.sidebar-button {
    @extend .btn;
    @extend .btn-block;
    @extend .mt-2;
    @extend .btn-primary;
    //@extend .text-left;
}


#footer {
    /*clear: both;*/
    /*background-color: var(--panel_primary_color);*/
    color: white;
    text-align: center;
}

#content {
    /*float: left;*/
    /*width: 80%;*/
    /*background-color: white;*/
    width: auto;
}
