.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/dawpol.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
__pycache__/
dawpol/__pycache__/
main/__pycache__/
main/migrations/__pycache__/
main/static/main/bootstrap_builder/
manage.py
media/
nano.save
polls/__pycache__/
polls/migrations/__pycache__/
templates/
venv/

