<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

        <meta charset="UTF-8">
        <title>Dawpol</title>
        <meta name="description" content="Strona mechanika samochodów" />
        <meta name="keywords" content="słowa, hashtagi"/>

    </head>
    <body>
        <h1>Polls index</h1>
        choose a poll to vote on!
        {% if question_list %}
            <ul>
            {% for question in question_list %}
                <li><a href="{% url 'polls:detail' question.id %}" title="Vote on question:{{ question.id }}">{{ question.question_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}

        <br/><br/>
        <img width="10%" height="auto" src="{% static 'polls/images/background.gif' %}" alt="Internet too slow? This image failed to load"/>

        <br/><br/>


    </body>
</html>

