:root {
    --primary_color: black;
    --seconodary_color: white;
}

.primary-color {
    background-color: var(--primary_color);
    border-color: var(--primary_color);
}

.secondary-color {
    background-color: var(--seconodary_color);
    border-color: var(--seconodary_color);
}



#body {
    background-color: gray;
    /*font-family: Vemana2000;*/
    /*font-size: 20px;*/
}

img {
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    width: 100%;
    height: auto;
}

/*#header {*/
/*    !*background-color: black;*!*/
/*    color: white;*/
/*    text-align: left;*/
/*    !*margin-left: 220px;*!*/
/*    padding-top: 15px;*/
/*    width: auto;*/
/*    height: 210px;*/
/*}*/


/*#top-bar {*/
/*    !*background-color: var(--panel_primary_color);*!*/

/*    !*padding-top: 5%;*!*/
/*    !*padding-bottom: auto;*!*/
/*    text-align: center;*/
/*    !*padding-left: 10px;*!*/
/*    !*color: var(--panel_primary_text_color);*!*/
/*    !*font-size: 35px;*!*/
/*    !*margin-left: 1%;*!*/
/*    height: 100%;*/
/*    !*width: available;*!*/
/*    font-family: "DejaVu Sans Condensed", serif;*/
/*}*/

/*#content {*/
/*    !*float: left;*!*/
/*    !*width: 80%;*!*/
/*    !*background-color: white;*!*/
/*    width: auto;*/
/*}*/

/*#footer {*/
/*    !*clear: both;*!*/
/*    !*background-color: var(--panel_primary_color);*!*/
/*    color: white;*/
/*    text-align: center;*/
/*}*/

#comment{
    /*background-color: green;*/
    /*padding: 3px;*/
    margin: 15px;
    border-radius: 15px;
    border: groove red;
}

#comment-bar{
    background-color: #67dc00;
    border-radius: 12px;
    padding: 5px;
    display: flow-root;
}

#comment-autor{
    float: left;
}

#comment-date{
    text-align: right;
    float: right;
}

#comment-content{
    padding: 10px;
}

#spacer{
    height: 15px;
}