{% extends 'main/base.html' %}

{% block page_header %}
    Kup Części
{% endblock %}

{% block content %}
    Oferejemy sprzedaż Części zamienne oraz akcesoreia samochodowe zgodnie z życzeniem klienta.
    <br>na indywidualne zamówienia.
    <br>
    <br>Oferta kierowana jest do właścicieli samochodów osobowych i dostawyczych.
    <br>W sprzedaży oferujemy:
    <br> - oleje, płyny , koncentraty
    <br> - amortyzatory
    <br> - opony
    <br> - filtry oleju, paliwa, powietrza
    <br> - akumulatory, itp
{% endblock %}