{% extends 'main/base.html' %}

{% block page_header %}
    Auto Części
{% endblock %}

{% block content %}
    Oferujemy sprzedaż części zamiennych oraz akcesoria samochodowe zgodnie z życzeniem klienta na indywidualne zamówienia.
    <br>
    <br>Oferta kierowana jest do właścicieli samochodów osobowych i dostawczych.
    <br>W sprzedaży oferujemy:
    <br> - oleje, płyny, koncentraty
    <br> - amortyzatory
    <br> - opony
    <br> - filtry oleju, paliwa, powietrza
    <br> - akumulatory, itp
{% endblock %}

{% block adspace %}

{% endblock %}