<!DOCTYPE html>
<html lang="pl">
<head>
    {% block head %}
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Dawpol - Naprawa samochodów i Wynajem Busów</title>
        <meta name="description" content="Świadczymy profesjonalne usługi z zakresu szeroko pojętej mechaniki samochodowej. Zajmujemy się również wymianą opon, regeneracji alternatorów i rozruszników oraz oferujemy wynajem samochodów osobowych i dostawczych." />
        <meta name="keywords" content="car repair, auto service, car accessories, accumulator, lease, car parts, mechanik samochodowy Będzin, mechanik samochodowy, ford, wynajem, wynajem busów, wynajem busów Będzin, wynajem samochodów osobowych, samochód dostawczy na wynajem, naprawa samochodów, naprawa samochodów Będzin, auto serwis, serwis samochodowy, elektronarzędzia, wulkanizacja, akcesoria samochodowe, oleje, płyny, amortyzatory, opony, filtry oleju, filtry paliwa, filtry powietrza, akumulatory, auto części, profesjonalne usługi, usługi serwisowe, usługi serwisowe Będzin, wulkanizacja opon, sprzedaż części samochodowych, regeneracja alternatora, regeneracja rozrusznika, regeneracja elektronarzędzi, wynajem samochodów osobowych, wynajem samochodów dostawczych"/>

        <!-- Bootstrap CSS -->
        <script src="{% static 'main/bootstrap_css/compiled.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'main/assets/style.css' %}">
    {% endblock head %}
</head>
<body>
    {% block body %}
        <div class="container-fluid">
            {% block background %}

            {% endblock background %}
            <div class="container">
                <div class="row">
                    <a href="/" class="logo"> {#  col-sm-3 col-md-3 pt-sm-4 pb-sm-4 bg-dark">  #}
                        <img src="{% static "main/img/logo.png" %}" alt="{Logo_1}"/>
                    </a>
                    <div class="top-bar"> {#  col-xs col-sm col-md ml-md-2 pt-sm-4 pt-1 bg-dark"> {# ml-sm-2    MarginLeft-small&up-2 * .25 ?? #}
                        <div class="equal_height">{% block page_header %} STRONA GŁÓWNA {% endblock page_header %}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="sidebar"> {#   col-md-3 p-0 text-white"> #}
                        <nav class="navbar"> {# navbar-inverse">#}
                            <a class="navbar-header" data-toggle="collapse" data-target="#sideNav">
                                <div class="row">
                                    <div class="col-1">
                                        <span class="fas fa-bars"></span>
                                    </div>
                                    <div class="col">
                                        Menu
                                    </div>
                                </div>
                            </a>
                            <div class="collapse navbar-collapse" id="sideNav">
                                {% for page in pages %}
                                    <a href="{{ page.get_url }}" class="sidebar-button{% if page.get_target_app == active_app %} btn-secondary {% endif %}" role="button"> {#  btn btn-block mt-2 btn-dark #}
                                        <div class="row">
                                            <div class="col-1">
                                                <span class="fas fa-{{ page.icon }}"></span>
                                            </div>
                                            <div class="col">
                                                {{ page.name }}
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </nav>  {# end of sideNav construct #}
                        <div class="side-ad">
                            {% block adspace %}

{#                              <img src="https://media1.tenor.com/images/8f0385b075b2142dde6acc43f0927cbc/tenor.gif">#}
{#                                <img src="http://www.ecstudents.net/10fall/kevinpost/archive/photoshop/gif_ads/9000th-winner-animated-2.gif" alt="Ad space for sale!! place YOUR_AD here, contact us!">#}
                            {% endblock adspace %}
                        </div>
                    </div>
                    <div class="content" id="content">
                        {% block content %}
                            <div class="row">
                                <div class="col mb-2">
                                    <div class="card bg-dark text-white">
                                        <img src="{% static 'main/img/hand.jpg' %}" class="card-img" alt="...">
                                        <div class="card-img-overlay">
                                            <div class="row text-center h-100">
                                                <div class="col text-center my-auto">
{#                                                    <div class="d-flex">#}
{#                                                        <div class="align-items-center justify-content-center">#}
                                                            <h1 class="display-1 text-info card-title text-center">AUTO, TO NIE PROBLEM!</h1>
{#                                                        </div>#}
{#                                                    </div>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-4 mb-3">
                                    <a href="{% url "car_hire:overview" %}">
                                        <div class="card blue-link-card">
                                            <div class="row no-gutters">
                                                <div class="col-lg-4 col-xxl-12">
                                                    <img src="{% static 'main/img/car.jpg' %}" class="card-img-top" alt="...">
                                                </div>
                                                <div class="col-lg-8 col-xxl-12">
                                                    <div class="card-body">
                                                        <h3 class="card-title">Wynajem busów</h3>
                                                        <p class="card-text">Busy można prowadzić posiadając prawo jazdy kategorii B. Samochody posiadają pełne ubezpieczenie w Polsce i zagranicą</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xxl-4 mb-3">
                                    <a href="/uslugi">
                                        <div class="card blue-link-card">
                                            <div class="row no-gutters">
                                                <div class="col-lg-4 col-xxl-12">
                                                    <img src="{% static 'main/img/engine.jpg' %}" class="card-img-top" alt="...">
                                                </div>
                                                <div class="col-lg-8 col-xxl-12">
                                                    <div class="card-body">
                                                        <h3 class="card-title">Usługi serwisowe</h3>
                                                        <p class="card-text">Świadczymy profesjonalne usługi z zakresu szeroko pojętej mechaniki samochodowej. Zapraszamy do korzystania z naszych usług.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xxl-4 mb-3">
                                    <a href="/czesci">
                                        <div class="card blue-link-card">
                                            <div class="row no-gutters">
                                                <div class="col-lg-4 col-xxl-12">
                                                    <img src="{% static 'main/img/part.jpg' %}" class="card-img-top" alt="...">
                                                </div>
                                                <div class="col-lg-8 col-xxl-12">
                                                    <div class="card-body">
                                                        <h3 class="card-title">Sprzedaż części</h3>
                                                        <p class="card-text">Części zamienne oraz akcesoria samochodowe na indywidualne zamówienia. Oferta kierowana jest do właścicieli samochodów osobowych i dostawczych.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endblock content %}
                    </div> {# end of content block #}
                </div>

            </div> {# end of the normal container block #}
            {% block footer %}
                <div class="footer">
                    <div class="container">
                        <div class="row vertical-divider">
                            <div class="col-sm-4"> {#  bg-warning">  #}
                                <div class="m-3 mt-0">
                                    <a href="/"> {#  col-sm-3 col-md-3 pt-sm-4 pb-sm-4 bg-dark">  #}
                                        <img src="{% static "main/img/logo.png" %}" alt="{Logo_1}"/>
                                    </a>
                                </div>
                                <div class="p-3 text-muted">
                                    Company info: We are doing cars,
                                </div>
                                <div style="padding-bottom: 15rem;"></div> {# spacer maybe put something there #}
                            </div>
                            <div class="col-sm-4">
                                <h3 class="font-weight-light text-info">
                                    Kontakt
                                </h3>
                                 {% include 'common/Contact_details.html' %}
                            </div>
                            <div class="col-sm-4">
                                <h3 class="font-weight-light text-info">
                                    Katalog
                                </h3>
                                {% for page in pages %}
                                    <a href="{{ page.get_url }}" class="text-white">
                                        <div class="row">
                                            <div class="col-1">
                                                <span class="fas fa-{{ page.icon }}"></span>
                                            </div>
                                            <div class="col">
                                                {{ page.name }}
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock footer %}
        </div> {# end of the container fluid #}
        <!-- oh so that's how html does comments -->
    {% endblock body %}
</body>
</html>