<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

    <meta charset="UTF-8">
    <title>We have the secret</title>
    <meta name="description" content="The secret rests here" />
    <meta name="keywords" content="words, hashtags"/>

    <style>
        #container{
            width: 600px;
        }
    </style>
</head>
<body>
    <div id="container">
        {% if graphical_items %}
            {% for distinct_item in graphical_items %}
                <div id="Panel">
                    <div id="Panel-Image">
                        <div id="comment-autor">
                            <img src="{{ distinct_item.graphic.url }}" alt="{{ distinct_item.subtitle }}"/>
                        </div>
                    </div>
                    <div id="Panel-Subtitle">
                        {{ distinct_item.subtitle }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div id="content">
                Oough?? The juice is gone? whaddyamean The JUiCE is GoNE???
            </div>
        {% endif %}
    </div>
</body>
</html>