<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

    <meta charset="UTF-8">
    <title>Dawpol</title>
    <meta name="description" content="Strona mechanika samochodów" />
    <meta name="keywords" content="słowa, hashtagi"/>

    <style>
        #container{
            width: 600px;
        }
    </style>
</head>
<body>
    <div id="container">
        {% if comments %}
            {% for comm in comments %}
{#                <div id="spacer"></div>#}
                <div id="comment">
                    <div id="comment-bar">
                        <div id="comment-autor">
                            {{ comm.autor }}
                        </div>
                        <div id="comment-date">
                            {{ comm.pub_date }}
                        </div>
                    </div>
                    <div id="comment-content">
                        {{ comm.content }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div id="content">
                Brak komętarzy
            </div>
        {% endif %}
    </div>
</body>
</html>