<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dawpol</title>
    <meta name="description" content="Strona mechanika samochodów" />
    <meta name="keywords" content="słowa, hashtagi"/>

     <!-- Bootstrap CSS -->
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main/assets/style.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <a href="/" class="logo"> {#  col-sm-3 col-md-3 pt-sm-4 pb-sm-4 bg-dark">  #}
                        <img src="{{ logo.graphic.url }}" alt="{Logo_1}"/>
                </a>
                <div class="top-bar"> {#  col-xs col-sm col-md ml-md-2 pt-sm-4 pt-1 bg-dark"> {# ml-sm-2    MarginLeft-small&up-2 * .25 ?? #}
                    <h2 class="display-5 equal_height"> STRONA GŁÓWNA</h2>
                </div>
            </div>
            <div class="row">
                <div class="sidebar"> {#   col-md-3 p-0 text-white"> #}
                    {% for page in pages %}
                        <a href="{{ page.get_url }}" class="sidebar-button" role="button"> {#  btn btn-block mt-2 btn-dark #}
                            <div class="row">
                                <div class="col-1">
                                    <span class="fas fa-{{ page.icon }}"></span>
                                </div>
                                <div class="col">
                                    {{ page.name }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    <div class="d-none d-md-block  jumbotron mt-5 p-2">
{#                        <img src="https://media1.tenor.com/images/8f0385b075b2142dde6acc43f0927cbc/tenor.gif">#}
                        <img src="http://www.ecstudents.net/10fall/kevinpost/archive/photoshop/gif_ads/9000th-winner-animated-2.gif" alt="Ad space for sale!! place YOUR_AD here, contact us!">
                    </div>
                </div>
                <div class="col-md-9" id="content">
                    Contnet here!!!!
                </div> {# end of content block #}
            </div>

        </div> {# end of the normal container block #}
        <div id="footer" class="row bg-dark">
            <div class="col-sm-4">
                AutoMechanik
            </div>
            <div class="col-sm-4">
                Będzin
            </div>
            <div class="col-sm-4">
                DAWPOL
            </div>

        </div>
    </div> {# end of the container fluid #}

    <script src="{% static 'main/bootstrap_css/compiled.js' %}"></script>
{#    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
</body>
</html>