{% extends 'main/base.html' %}

{% block page_header %}
    Kontakt
{% endblock %}

{#{% block adspace %}#}
{#    <div class="google-maps col">#}
{#           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1088.2815353826416!2d19.137320829299526!3d50.307391998715985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTDCsDE4JzI2LjYiTiAxOcKwMDgnMTYuMyJF!5e1!3m2!1spl!2spl!4v1561478449663!5m2!1spl!2spl" allowfullscreen></iframe>#}
{#    </div>#}
{#{% endblock adspace %}#}

{% block content %}
    <div class="row">
        <div class="col-6" style="text-align: end; font-size: 2.3vw">
            adres:<br/>
            numer telefonu:<br/>
            adres e-mail:<br/>
            interaktywna mapa:<br/>
            cokolwiek jeszcze:
        </div>
        <div class="col-6" style="font-size: 2.3vw">
            kurkuma <br/>
            999 <br/>
            xd@swiat <br/>
            <a href="{% url 'contact:map' %}">Kliknij tutaj</a> <br/>
            ?????
        </div>
{#        <div class="col-4">#}
{#            <a href="{% url 'contact:map' %}">Mapa</a>#}
{#        </div>#}
    </div>
    <hr />
{% endblock content %}