{% extends 'main/base.html' %}

{% block page_header %}
    Usługi
{% endblock %}

{% block content %}
    Świadczymy profesjonalne usługi z zakresu szeroko pojętej mechaniki samochodowej.
    <br>Nasza firma świadczy szeroki zakres usług serwisowych obejmujących:
    <br>- mechanikę samochodową.
    <br>- wulkanizacje opon
    <br>- sprzedaż części samochodowych
    <br>- regeneracje alternatorów, rozruszników i elektronarzędzi
    <br>Oraz oferujemy wynajem samochodów osobowych i dostawczych.
    <br>
    <br>Zapraszamy do korzystania z naszych usług. Aby umówić wizytę w naszej firmie zachęcamy do kontaktu pod numerem telefonu 601 881 889
{% endblock %}