{% extends 'main/base.html' %}

{% block page_header %}
    Usługi
{% endblock %}

{% block content %}
    Świadczymy profesionalne usługi z zakresu szeroko pojętej mechaniki samochodowej.
    <br>Zajmujemy się również wymianą opon, regeneracji alternatorów i rozruszników oraz  oferujemy wynajem
    <br>
    <br>samochódów osobowych i dostawczych.  Zapraszamy do korzystania z naszych usług. Aby umówić wizytę w naszej firmę zachęcamy do
    <br>kontaktu pod numerem telefonu 601 881 889
    <br>
    <br>Nasza firma świadczy szeroki zakres
    <br>* usług serwisowych obejmujących:
    <br>- mechanikę samochodową.
    <br>- wulkanizacja opon
    <br>- sprzedaż części samochodowych
    <br>- regeneracja alternatorów i rozruszników
{% endblock %}