{% extends 'main/base.html' %}

{% block page_header %}
    Usługi
{% endblock %}

{% block content %}
{#    <div class="row">#}
{#        {% for car in cars %}#}
{#            <div class="col-xxl-4 mb-2">#}
{#                <a href="{% url 'car_hire:detailed' car_id=car.id %}">#}
{#                    <div class="card blue-link">#}
{#                        <div class="row no-gutters">#}
{#                            <div class="col-lg-4 col-xxl-12">#}
{#                                <img src="{{ car.imageelement_set.first.graphic.url }}" alt="{{ car.imageelement_set.first.subtitle }}" class="img card-image-top">#}
{#                            </div>#}
{#                            <div class="col-lg-8 col-xxl-12">#}
{#                                <div class="card-body">#}
{#                                    <h4 class="card-title">{{ car.title }}</h4>#}
{#                                    <p class="card-text">{{ car.description | linebreaks }}</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{#            <hr />#}
{#        {% endfor %}#}
{#    </div>#}
    <div class="row">
        <div class="col">
            <div class="bg-danger text-center text-white p-xl-5 p-lg-4 p-5">
                <div class="row">
                    <div class="col-lg-5 p-5 p-lg-0">
                        <span class="fas fa-snowplow fa-9x"></span>
                    </div>
{#                    <div class="col-1 bg-info">#}
{#                    </div>#}
                    <div class="col">
                        <div class="row text-center h-100">
                            <div class="col text-center my-auto">
                                <div class="card card-text bg-danger border-white border-5 p-2">
                                    Ta część strony jest <br>
                                    W stanie budowy.  <br>
                                    <br>
                                    Za utrudnienia Przepraszamy.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}